:root {
    /* Colores */
    --small-backgrounds: #add495;
    --large-backgrounds: #f898a4;
    --important: #80b7a2;
    --footer: #ecdbc9;
    --text: #ffffff;
    --more-text: black;
}

/* || RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* || GENERAL STYLES */

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    position: sticky;
    text-align: center;
	background-color: var(--small-backgrounds);
}

header {
    top: 0;
}

header h1 {
    font-size: 6.3rem;
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

nav {
    background-color: #fff;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    font-size: 2.0rem;
}

nav a, nav a:visited {
    /* color: #000; */
    color: var(--small-backgrounds);
}

nav a:hover, nav a:focus{
    color: hsla(0, 0%, 20%, 0.6);
}

main {
    /* margin-top: 0; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
	background-color: var(--large-backgrounds);
}

footer {
    bottom: 0;
    background-color: var(--footer);
    height: 45px;
}

footer p {
    margin-top: 10px;
	font-size: 2.4rem;
	color: var(--more-text);
}

/* || PROFILE CARD */
.card {
    scroll-margin-top: 8rem;
    width: min(100%, 350px);
    background-color: #cbd5e1;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card figure {
    display: flex;
    flex-flow: column nowrap;
}

.card img {
    border: 5px double var(--large-backgrounds);
    border-radius: 50%;
}

.card figcaption {
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}

.card label {
    font-size: 1.6rem;
}


