:root {
    /* Colores */
    --small-backgrounds: #add495;
    --large-backgrounds: #f898a4;
    --important: #80b7a2;
    --footer: #ecdbc9;
    --text: #ffffff;
    --more-text: black;
}

/* || RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* || GENERAL STYLES */

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    position: sticky;
    text-align: center;
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 110px; */
	background-color: var(--small-backgrounds);
}

header {
    top: 0;
}

header h1 {
    font-size: 6.3rem;
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

nav {
    background-color: #fff;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    font-size: 2.0rem;
}

nav a, nav a:visited {
    /* color: #000; */
    color: var(--small-backgrounds);
}

nav a:hover, nav a:focus{
    color: hsla(0, 0%, 20%, 0.6);
}

main {
    margin-top: 0;
	background-color: var(--large-backgrounds);
}

div {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

div#contPics {
    /* border: 1px blueviolet dotted;  */
    width: 800px;
    margin: 0 auto;
}

div.pics {
    /* border: 1px dotted red; */
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    height: 250px;
}

.pics label { 
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

img {
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
}

div.ingPrecio {
    width: 800px;
    height: 75px;
    /* border: 1px red dotted; */
    margin: 10px auto;
}

label.lblPrc {
    /* border: 1px violet dotted; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-left: 60px;
    width: 95px;
}

input {
    display: block;
    margin: 0 auto;
}

input.inpPrc {
    margin-left: 0; 
    width: 50px;
}

div.ingDsct {
    /* border: 1px dashed blue; */
    width: 800px;
    height: 75px;
    margin: 10px auto;
}

.ingDsct label {
    /* border: 1px black dashed; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-left: 40px;
    width: 135px;
}

.ingDsct input {
    margin-left: 0;
    width: 50px;
}

input[type="submit"] {
    margin-top: 5px;
}

footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center; 
	width: 100%;
    height: 90px;
	background-color: var(--footer);
}

footer p {
	margin-left: 60%;
	font-size: 2.4rem;
	color: var(--more-text);
}

@media screen and (max-width: 640px) {
  
    /* Styles for screens with a maximum width of 640px */
    
    div#contPics {
      width: 400px;
    }
  
    div.pics {
      width: 100%;
      height: auto;
    }
  
    .pics img {
      height: 150px;
      width: 150px;
    }
  
    div.ingPrecio {
      width: 400px;
    }
  
    div.ingDsct {
      width: 400px;
    }
  }
  
  @media screen and (min-width: 641px) and (max-width: 720px) {
    
    /* Styles for screens with a minimum width of 641px and a maximum width of 720px */
    
    div#contPics {
      width: 500px;
    }
  
    div.pics {
      width: 50%;
      height: auto;
    }
  
    .pics img {
      height: 120px;
      width: 120px;
    }

    div.ingPrecio {
        width: 500px;
    }

    div.ingDsct {
        width: 500px;
    }
  }

  @media screen and (min-width: 721px) and (max-width: 1024px) {
    div#contPics {
        width: 600px;
    }

    div.ingPrecio {
        width: 600px;
    }

    div.ingDsct {
        width: 600px;
    }
  }
